.header-flex-button a button {
  padding: 16px;
  background-color: var(--color2);
  color: var(--color1);
  font-size: 15px;
  font-weight: 600;
  line-height: 10px;
  font-style: normal;
  font-family: var(--font-family);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.header-flex-button a button:hover {
  background-color: var(--bgcolor1);
  color: var(--color2);
  transition: 0.3s ease-in-out;
}

.gray-bg-grid-div2 a button {
  padding: 10px 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  font-family: var(--font-family);
  color: var(--color4);
  border: 2px solid rgb(40, 112, 220);
  border-radius: 5px;
}
.gray-bg-grid-div2 a button:hover {
  background: linear-gradient(90deg, rgb(40, 112, 220) 0%, rgb(231, 114, 59) 100%);
  color: var(--color2);
}

.Gemeinsam-main-div-button {
  margin-top: 65px;
}
.Gemeinsam-main-div-button a button {
  width: 380px;
  height: 44px;
  padding: 10px 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  font-family: var(--font-family);
  color: var(--color4);
  border: 2px solid rgb(40, 112, 220);
  border-radius: 5px;
  background: transparent;
}
.Gemeinsam-main-div-button a button:hover {
  background: linear-gradient(90deg, rgb(40, 112, 220) 0%, rgb(231, 114, 59) 100%);
  color: var(--color2);
}

.werdeteil-grid-div2-button {
  margin-top: 10px;
}
.werdeteil-grid-div2-button a button {
  padding: 10px 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  font-family: var(--font-family);
  color: var(--color4);
  border: 2px solid rgb(40, 112, 220);
  border-radius: 5px;
  background: transparent;
}
.werdeteil-grid-div2-button a button:hover {
  background: linear-gradient(90deg, rgb(40, 112, 220) 0%, rgb(231, 114, 59) 100%);
  color: var(--color2);
}

@media (max-width: 1024px) {
  .gray-bg-grid-div2 a button {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
  }
  .Gemeinsam-main-div-button {
    margin-top: 20px;
  }
  .Gemeinsam-main-div-button a button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
  }
}
@media (max-width: 576px) {
  .header-flex-button a button {
    padding: 7px 9px;
    font-size: 8px;
    font-weight: 600;
    line-height: 10px;
    font-style: normal;
    font-family: var(--font-family);
  }
  .gray-bg-grid-div2 a button {
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: normal;
  }
  .Gemeinsam-main-div-button {
    margin-top: 20px;
  }
  .Gemeinsam-main-div-button a {
    text-decoration-line: none;
    display: flex;
    justify-content: center;
  }
  .Gemeinsam-main-div-button a button {
    width: 286px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 36px;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 20px;
  }
  .werdeteil-grid-div2-button {
    margin-top: 10px;
  }
  .werdeteil-grid-div2-button a button {
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
    font-family: var(--font-family);
    line-height: normal;
  }
}
.container {
  max-width: 1333px;
  margin: 0 auto;
}

.container-main {
  max-width: 1195px;
  margin: 0 auto;
}

.container-ft {
  max-width: 786px;
  margin: 0 auto;
}

:root {
  --bgcolor1: #2b92d8;
  --bgcolor2: #ededed;
  --color1: #404040;
  --color1blur: rgba(64, 64, 64, 0.50);
  --color2: #ffffff;
  --color3: #ffffff80;
  --color4: #182139;
  --color5: #6e6e6e;
  --bordercolor: #e6e8ef;
  --bordercolor1: #e3e3e4;
  --gradiant: linear-gradient(90deg, rgba(40,112,220,1) 0%, rgba(231,114,59,1) 100%);
  --font-family: "Montserrat", sans-serif;
  --font-family2: "Work Sans", sans-serif;
}

header {
  background-image: url("../../images/bakground-0e3a6d71.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-flex {
  padding: 39px 0 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-flex .header-flex-logo a {
  cursor: pointer;
}
header .header-flex .header-flex-logo a img {
  display: block;
}
header .header-flex .header-flex-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-flex .header-flex-button .header-flex-button-menubar {
  display: none;
}
header .header-grid {
  display: grid;
  grid-template-columns: 175px 1fr;
  align-items: center;
  padding-bottom: 120px;
}
header .header-grid .header-grid-div1 nav a {
  display: block;
  text-decoration-line: none;
  color: var(--color3);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  font-family: var(--font-family);
  margin-bottom: 10px;
}
header .header-grid .header-grid-div1 nav a:hover {
  color: var(--color2);
  transition: 0.3s ease-in-out;
}
header .header-grid .header-grid-div1 nav a:nth-child(4n+4) {
  margin: 0;
}
header .header-grid .header-grid-div2 {
  display: flex;
  justify-content: flex-end;
}
header .header-grid .header-grid-div2 h1 {
  font-size: 55px;
  font-weight: 300;
  line-height: 70px;
  font-style: italic;
  font-family: var(--font-family);
  color: var(--color2);
  max-width: 846px;
  padding-right: 41px;
}

@media (max-width: 1024px) {
  header {
    height: auto;
  }
  header .header-flex {
    padding: 30px 40px;
  }
  header .header-grid {
    padding: 30px 40px;
    gap: 30px;
  }
  header .header-grid .header-grid-div2 h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 70px;
    font-style: italic;
    font-family: var(--font-family);
    line-height: 36px;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  header .header-flex {
    padding: 20px;
  }
  header .header-flex .header-flex-logo a img {
    width: 130px;
  }
  header .header-flex .header-flex-button .header-flex-button-menubar {
    display: block;
  }
  header .header-flex .header-flex-button .header-flex-button-menubar img {
    display: block;
  }
  header .header-grid {
    display: block;
    padding: 0 50px 20px 20px;
  }
  header .header-grid .header-grid-div1 {
    display: none;
  }
  header .header-grid .header-grid-div2 h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 300;
    padding-right: 0;
    font-style: italic;
  }
}
@media (max-width: 350px) {
  .header-flex-button a {
    display: none;
  }
}
footer .footer-div {
  padding: 40px 0;
  background-color: var(--bgcolor2);
}
footer .footer-div .footer-div1 {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
footer .footer-div .footer-div1 a {
  text-decoration-line: none;
  color: var(--color1);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  font-family: var(--font-family);
}
footer .footer-div .footer-div1 a:hover {
  transform: scale(1.05);
  color: var(--color5);
}
footer .footer-div .footer-div2 {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
footer .footer-div .footer-div3 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footer-div .footer-div3 a {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  font-family: var(--font-family2);
  color: var(--color1);
}
footer .footer-div .footer-div3 span {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  font-family: var(--font-family2);
  color: var(--color1);
}
footer .footer-div .footer-div4 {
  text-align: center;
}
footer .footer-div .footer-div4 p {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  font-family: var(--font-family2);
  color: var(--color1);
}

@media (max-width: 1024px) {
  footer .footer-div {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  footer .footer-div {
    padding: 30px 20px;
  }
  footer .footer-div .footer-div1 {
    margin-bottom: 20px;
  }
  footer .footer-div .footer-div1 a {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
  }
  footer .footer-div .footer-div2 {
    margin-bottom: 20px;
  }
  footer .footer-div .footer-div3 a {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 300;
    line-height: normal;
  }
  footer .footer-div .footer-div3 span {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 300;
    line-height: normal;
  }
  footer .footer-div .footer-div4 p {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 300;
    line-height: normal;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

section .zuruck-grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 11px;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main {
  position: sticky;
  top: 0;
  z-index: 99;
  height: auto;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content {
  padding: 39px 0 0 48px;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content a img {
  display: block;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-head {
  padding: 62px 0 20px 0;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-head h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: italic;
  color: var(--color1);
  cursor: pointer;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-ancer a {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  font-family: var(--font-family);
  padding-bottom: 10px;
  color: var(--color1blur);
  text-decoration-line: none;
  display: block;
  transition: 0.3s ease-in-out;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-ancer a:hover {
  color: var(--color1);
  transition: 0.3s ease-in-out;
}
section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-ancer a:nth-child(1) {
  color: var(--color1);
}
section .zuruck-grid .zuruck-grid-div1-hidden {
  display: none;
}
section .zuruck-grid .zuruck-grid-div2 {
  margin-top: 82px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img {
  display: flex;
  justify-content: center;
  padding-bottom: 62px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img img {
  display: block;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera {
  display: flex;
  justify-content: center;
  padding-bottom: 82px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main {
  text-align: center;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main p {
  max-width: 885px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
  font-family: var(--font-family);
  line-height: 30px;
  color: var(--color1);
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main p:nth-child(5n+3) {
  padding-bottom: 20px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main p:nth-child(5n+5) {
  padding-bottom: 20px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main h2 {
  padding: 20px 0;
  max-width: 885px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 30px;
  color: var(--color1);
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main-border {
  display: flex;
  justify-content: center;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main-border div {
  width: 300px;
  height: 1px;
  background-color: var(--color1);
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid {
  background-color: var(--bgcolor2);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 458px 1fr;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid1 img {
  width: 100%;
  display: block;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 {
  display: flex;
  justify-content: flex-end;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main img {
  margin-top: -2px;
  margin-bottom: 88px;
  padding-right: 2px;
  display: block;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 10px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 {
  display: flex;
  gap: 13px;
  align-items: start;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 img {
  margin: 0;
  width: 24px;
}
section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 a {
  display: block;
  text-decoration-line: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  font-family: var(--font-family);
  color: var(--color1);
}

@media (max-width: 1024px) {
  section .zuruck-grid {
    grid-template-columns: 245px 1fr;
    gap: 12px;
    padding: 0 20px 0 0;
  }
  section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content {
    padding: 39px 0 0 20px;
  }
  section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-head {
    padding: 62px 0 20px 0;
  }
  section .zuruck-grid .zuruck-grid-div1 .zuruck-grid-div1-main .zuruck-grid-div1-main-content .zuruck-grid-div1-main-content-ancer a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 30px;
  }
  section .zuruck-grid .zuruck-grid-div2 {
    margin-top: 0px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img {
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img img {
    display: block;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera {
    padding-bottom: 40px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    line-height: 24px;
    font-weight: 400;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 24px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid1 img {
    width: 100%;
    height: 288px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 {
    display: block;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main {
    display: flex;
    justify-content: center;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main img {
    width: 328px;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-right: 0;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu {
    display: grid;
    grid-template-columns: 167px 1fr;
    gap: 30px 10px;
    padding: 0 20px 40px 20px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 {
    display: flex;
    gap: 13px;
    align-items: start;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 img {
    margin: 0;
    width: 24px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 a {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }
}
@media (max-width: 1315px) {
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  section .zuruck-grid {
    display: block;
    padding: 0;
  }
  section .zuruck-grid .zuruck-grid-div1 {
    display: none;
  }
  section .zuruck-grid .zuruck-grid-div1-hidden {
    display: block;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .zuruck-grid .zuruck-grid-div1-hidden .zuruck-grid-div1-hidden-img1 img {
    width: 130px;
    display: block;
  }
  section .zuruck-grid .zuruck-grid-div1-hidden .zuruck-grid-div1-hidden-img2 img {
    display: block;
  }
  section .zuruck-grid .zuruck-grid-div2 {
    margin-top: 0;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img {
    display: flex;
    justify-content: center;
    padding: 0 20px 30px 20px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-img img {
    display: block;
    width: 94px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera {
    padding: 0 30px 40px 30px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    line-height: 18px;
    font-weight: 400;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-pera .zuruck-grid-div2-pera-main h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 18px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid1 img {
    width: 100%;
    height: 288px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 {
    display: block;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main {
    display: flex;
    justify-content: center;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main img {
    width: 328px;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-right: 0;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu {
    display: grid;
    grid-template-columns: 167px 1fr;
    gap: 30px 10px;
    padding: 0 20px 40px 20px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 {
    display: flex;
    gap: 13px;
    align-items: start;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 img {
    margin: 0;
    width: 24px;
  }
  section .zuruck-grid .zuruck-grid-div2 .zuruck-grid-div2-grid .zuruck-grid-div2-grid2 .zuruck-grid-div2-grid2-main .zuruck-grid-div2-grid2-main-menu .zuruck-grid-div2-grid2-main-menu1 a {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }
}/*# sourceMappingURL=beteiligungen.css.map */